<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>
  h3 {
    font-family: bold 12pt Arial Tahoma, Verdana, sans-serif;
    color: #212121;
    border-bottom: 5px solid #165cab;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .outerbox {
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 70px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
  }

  .innerbox {
    padding: 5px;
  }

  input {
    border: 2px solid rgb(222, 62, 62);
    margin-bottom: 4px;
    padding: 2px;
    background-color: rgb(243, 243, 200);
  }

  button {
    margin-top: 3%;
    margin-left: 82%;
    padding: 2px;
    width: 65px;
    border-radius: 5px;
    font-weight: bold;
    color: #212121;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  label {
    font-family: Arial Tahoma, Verdana, sans-serif;
    color: #5d5858;
  }
  a:hover {
    color: red;
  }
</style>
<div class="box">
  <div class="outerbox">
    <h3 style="text-align: left; width: 100%">Login To FundView</h3>
    <form class="innerbox">
      <label for="username">User Name: </label>
      <input type="text" id="username" placeholder="e.g santona" /><br />
      <label for="password">Password: </label>
      <input type="password" /> <br />
      <label for="remember"> Remember me</label>
      <input type="checkbox" id="remember" /><br />
      <a href="https://www.google.com" style="padding-top: 10px; display: block"
        >Forgot Password</a
      >
      <br />
      <button type="submit">Login</button>
    </form>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
